@charset "utf-8";
/* CSS Document */
.newsContentHeaderMid{ width:100%; background:rgba(48,131,235,0.9);position: relative; z-index: 1; height: 50px; margin-bottom: 10px;}
.newsContentHeaderMid.fixed{ position: fixed; left: 0; top: 0;  box-shadow: 0 2px 10px rgba(0,0,0,.2);}
.newsContentHeaderMidwrap{ width:1200px; margin: 0 auto; overflow: hidden;}
.headerCntSoso{ float:right; width:278px; height: 22px; padding:3px 0; border: 1px solid #B2B2B2; border-radius: 3px; background: #fff; margin-top: 11px;}
.headerCntSosoInput{ float:left; width:246px; height: 22px; border-right:1px solid #B2B2B2;}
.headerCntSosoInput input{ width:231px; height: 22px; background: #fff; border:0;  line-height: 22px; color:#333; font-size:14px; outline:none; padding-left: 15px;}
.headerCntSosoInput input::-webkit-input-placeholder{color:#c9c8c8;}
.headerCntSosoInput input:-moz-placeholder{color:#c9c8c8;}
.headerCntSosoInput input::-moz-placeholder{color:#c9c8c8;}
.headerCntSosoInput input:-ms-input-placeholder{color:#c9c8c8;}
.headerCntSosoBtn{ float:left; width:30px; height: 22px;}
.headerCntSosoBtn input{ width:30px; height: 22px; background: #fff; border: 0; text-indent: -9999px; overflow: hidden; background: url(../images/newscontent_soso.png) no-repeat center center; outline:none;}
.newsContentHeaderMidLeft{ float: left; width:920px;}
.newsContentHeaderMidLeft img{ float:left; display: block; padding-right: 20px; width: 124px; height: 32px; padding-top: 9px; }
.newsContentHeaderMidLeft p{ float:left; width:756px; line-height: 50px; font-size:14px; white-space: nowrap; overflow: hidden; color:#fff; text-overflow: ellipsis;}
.newsContentHeaderMidLeft p a{ color:#fff;}
.newsContentHeaderMidLeft p a:hover{ color:#333;}
.newsContentLeft{ float:left; width:770px; background: #fff; padding: 30px; margin-right: 20px; margin-top: 20px;}
.newsContentLeftTitle{ width:100%; padding-bottom: 20px; border-bottom: 1px solid #eee;}
.newsContentLeftTitle h1{ font-size:24px; line-height: 1.6em; font-weight: normal;}
.newsContentLeftTitle h1 a{ color:#333;}
.newsContentLeftTitle h1 a:hover{ color:#005f96;}
.newsContentLeftTitle .atitle{padding-bottom:10px; font-size: 20px;font-weight: normal;}
.newsContentLeftTitle .btitle{padding-top:5px;  font-size: 18px;font-weight: normal;}
.source-info{ width:100%; padding-top: 20px; font-size:14px; color:#999;}
.source-info a{ color:#999; padding-left: 5px;}
.source-info a:hover{ color:#666;}
.source-info span{ padding-right:5px;}
.newsContentLeftTitle p{ font-size:14px; line-height: 1.6em; color:#999;}
.newsContentLeftTitle p a{ color:#999;}
.newsContentLeftTitle p a:hover{color:#666;}
.zhengwen{line-height:2em;font-size:16px;padding:1.5em 0;}
.articleHeight{height: 400px;overflow: hidden;}
#contentWraper table p{text-indent:0}
#contentWraper table{border:1px solid #ccc;margin:0 auto;}
#contentWraper table td{border-bottom:1px solid #ccc!important;border-right:1px solid #ccc!important}
.zhengwen p,.zhengwen center{text-indent:2em;padding:.5em 0; color:#444;}
.zhengwen p img{max-width:770px;height:auto}
.zhengwen img{_width:expression(this.width>770 ? '620px':true);max-width:770px;height:auto; overflow: hidden;}
.zhengwen p.arcImgP{text-indent:0; padding:.5em 0;}
.zhengwen>p{text-align: justify;}
.bianji{display:block;text-align:right;padding-top:1em;line-height:2em;font-size:16px; color:#444;}

.wrap {
    width: 1260px;
    margin: 0 auto;
    overflow: hidden;
}

.houseHeader{ width:1260px; margin: 0 auto; overflow: hidden; padding: 20px 0;}
.headerCntSoso{ float:right; width:278px; height: 22px; padding:3px 0; border: 1px solid #B2B2B2; border-radius: 3px; background: #fff; margin-top: 6px;}
.headerCntSosoInput{ float:left; width:246px; height: 22px; border-right:1px solid #B2B2B2;}
.headerCntSosoInput input{ width:231px; height: 22px; background: #fff; border:0;  line-height: 22px; color:#333; font-size:14px; outline:none; padding-left: 15px;}
.headerCntSosoInput input::-webkit-input-placeholder{color:#c9c8c8;}
.headerCntSosoInput input:-moz-placeholder{color:#c9c8c8;}
.headerCntSosoInput input::-moz-placeholder{color:#c9c8c8;}
.headerCntSosoInput input:-ms-input-placeholder{color:#c9c8c8;}
.headerCntSosoBtn{ float:left; width:30px; height: 22px;}
.headerCntSosoBtn input{ width:30px; height: 22px; background: #fff; border: 0; text-indent: -9999px; overflow: hidden; background: url(../images/newscontent_soso.png) no-repeat center center; outline:none;}
.houseHeaderLeft{ float:left; width:900px;}
.houseHeaderLeftLogo{ float:left; width:144px; height: 50px; padding-right: 20px;}
.houseHeaderLeftLogo img {margin-top:10px}
.houseHeaderLeft h3{ float:left; width:120px; font-size:20px; margin-top: 10px; padding-left: 20px; line-height: 24px; border-left:1px solid #333; letter-spacing: 1px; }
.houseHeaderLeft h3 a{color:#0c3190;}
.houseHeaderLeft h3 a:hover{color:#0c3190;}
.houseHeaderLeft p{ float:left; width:420px; font-size:14px; margin-top: 10px;  line-height: 24px; color:#666;}
.houseHeaderLeft p a{color:#666; }
.houseHeaderLeft p a:hover{color:#666;}
.housePPT{ float:left; width:720px; height: 468px; margin-top: 20px; margin-right: 20px;}
.ptCnt{ width:720px; height: 467px; overflow:hidden;position:relative;}
.silder_con{width:720px; height: 370px;position:absolute; left: 0; top: 0;}
.silder_con li{float:left; width:720px; height: 370px;overflow:hidden;position:relative;}
.silder_con img{ width:720px; height: 370px;}
.ptCnt .prev{left:0; top:160px; z-index:12; width:22px;height:50px;position:absolute; background:url(../images/sprite.png) no-repeat 0 0;cursor:pointer;}
.ptCnt .next{right:0; top:160px; z-index:12; width:22px;height:50px;position:absolute; background:url(../images/sprite.png) no-repeat right top; cursor:pointer;}
.pptfont{ position:absolute; z-index:10;left:0px; bottom:0px;_bottom:0px;*bottom:0px; width:720px; height: 35px; background: url(../images/house_ppt_bg.png) no-repeat bottom center; text-align:center;text-overflow:ellipsis; overflow:hidden;white-space:nowrap; padding-top: 45px;}
.pptfont h3{ width:100%; text-align:center; font-weight:normal;}
.pptfont h3 a{ color:#FFFFFF; font-size:16px;}
.pptfont h3 a:hover{ text-decoration:underline; color:#FFFFFF;}
.pptfont p{ display:none;}
.silder_nav{ width:730px; position:absolute; left: 0; bottom: 0; height: 90px; overflow: hidden;}
.silder_nav li{ float: left; width:136px; height: 90px; margin-right: 10px; cursor: pointer; position: relative;}
.silder_nav li b{ display:block; background: rgba(0,0,0,.5); position: absolute; left: 0; top: 0; width:136px; height: 90px;}
.silder_nav li img{ width:136px; height: 90px;}
.silder_nav li.current b{ background: rgba(0,0,0,0);}
.newsZhengzhou{ float: left; width:400px; padding: 15px 30px 0; height:209px; margin-top: 20px; background: #fff;}
.newsZhengzhou li{ width:380px; background: url(../images/indexnewslibg.png) no-repeat left center; padding-left: 20px; font-size:16px; line-height: 2.4em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.newsZhengzhou li a{ color:#333;}
.newsZhengzhou li a:hover{ color:#006aa6; font-weight: bold;}
.newsContentLeft{ float:left; width:830px; background: #fff; margin-right: 20px; margin-top: 20px;}
.newsList{ width:830px; padding: 20px 0;}
.newsList li{ width:790px; padding:20px; border-bottom: 1px solid #f5f5f5; overflow: hidden;}
.newsList li a{ display:block; width:100%; overflow: hidden;}
.newsList li img{ float:left; width:200px; height: 125px; border-radius: 3px; margin-right: 25px;}
.newsListRight{ float:left; width:565px;}
.newsList li h3{ font-size:18px; color:#333; letter-spacing: 1px; font-weight: 700; line-height: 1.8em;}
.newsList li p{ font-size:14px; color:#333; line-height: 1.8em; padding-top: 5px; text-align: justify;}
.newsList li h4{ font-weight: normal; background: url(../images/house_time.jpg) no-repeat left center; padding-left: 25px; font-size:14px; color:#999; margin-top: 15px;}
.newsList li a:hover h3{ color:#005f96; font-weight:600; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;-ms-transition: all 0.3s ease;}
.newsList li.noPic .newsListRight{ width:790px;}
.newsList li.fourPics img{ width:190px; height:120px; margin-right: 10px;}
.newsList li.fourPics a{ width:800px;}
.newsList li.fourPics h4{ float: left; width:790px;}
.newsList li.fourPics h3{ padding-bottom:10px;}
.newsList li:last-child{ border:0;}
.refresh{ width:100%; padding: 50px 0; text-align: center;}
.refresh span{ display: inline-block; font-size:16px; color:#999; background: url(../images/house_refresh.png) no-repeat left center; line-height: 2em; letter-spacing: 1px; padding-left: 40px; cursor: pointer;}
.newsTitle{ width:830px;}
.newsTitle li{ float:left; width:93px; font-size:18px; line-height: 56px; text-align: center;height: 56px; border-bottom:2px solid rgba(35,140,194,.05);border-right:2px solid rgba(35,140,194,.05);}
.newsTitle li a{ color:#666;}
.newsTitle li:last-child{ border-right:0; width:95px;}
.newsTitle li.current{ width:165px; height: 58px; border:0; background: url(../images/newstitlebg.jpg) repeat-x; font-weight: bold; letter-spacing: 1px;}
.newsTitle li.current a{ color:#333;}
.newsTreeAd{ width:1215px; padding-top:20px;}
.newsTreeAd a{ float: left; margin-right: 15px; display:block; width:390px;}
.newsTreeAd a img{ width:390px;}


#vip{
    width: 100%;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0)),color-stop(70%, #fff));
    background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 70%);
    padding-bottom: 24px;
    text-align: center;
    position: relative;
    z-index: 998;
    padding-top: 220px;
    margin-bottom: 80px;
    margin-top: -220px;
}
.submit
{
font-size: 16px;
    background-color: rgba(48,131,235,0.9);
    border-color: rgba(48,131,235,0.9);
    color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.newsContentHeaderTopWrap {
    width: 1260px;
    margin: 0 auto;
}

















